.nav_bg {
    position: fixed;
    width: 100%;
    background-color: #02121D;

}

.header_logo_main {
    width: 100px !important;
    justify-content: left !important;
    display: flex !important;
    align-items: flex-start !important;
}

.nav_h_li {
    font-size: 1.125rem !important;
    color: #fff !important;
    font-weight: 600 !important;
    padding: 15px 22px !important;
    text-transform: uppercase !important;
    text-decoration: none;
}

.stack_btn_h {
    /* background-color: var(--clr); */
    background-color: #FFBF00;
    width: 134px;
    height: 50px;
    padding: 5px 10px;
    font-weight: 600;
    border-radius: 5px;
    color: black;
}

.stack_btn_h:hover {
    /* border: 1px solid var(--clr); */
    border: #FFBF00 1px solid;
    background-color: transparent;
    /* color: var(--clr); */
    color: white !important
}


.navbar-light .navbar-toggler {
    background-color: white !important;
}