body {
  background-color: #02121D !important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* .bg {
  background-color: #0A1F2F !important;
} */
.table_responsive{
  width: 50% !important;
}
@media only screen and (max-width:800px) {
  .table_responsive{
    width: 100% !important;
  }
}