.stack_re_main_bg {
  padding: 20px 0px;
}

.stack_re_card {
  background-color: #0a1f2f;
  padding: 20px;
  /* border: 1px solid var(--clr);
      */
  border: 1px solid #ffbf00 !important;
}

.stack_re_h3 {
  /* color: var(--clr); */
  color: #ffbf00 !important;
  font-size: 16px;
}

.icon_color {
  color: #20ada7 !important;
}

.dsds {
  gap: 20px;
}

.pas {
  margin-top: -8px !important;
}

.ques {
  margin-left: 20px;
  justify-content: center;
  align-items: center;
}

.alignment {
  margin-top: -10px !important;
}

.s_i {
  margin-top: -10px;
  margin-left: 10px;
}

.zero {
  background: #3a3d4d;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  font-size: 16px;
  width: 30px;
  /* line-height: 0.3r; */
  height: 30px;
  /* margin: 0 0.01rem; */
}

@media only screen and (max-width: 600px) {
  .info {
    margin-top: 10px !important;
  }

  .font_size {
    font-size: 9px !important;
  }

  .ques {
    margin-left: 9px !important;
  }
}

.font_size {
  font-size: 12px !important;
}

.claim_bottom {
  display: flex;
  justify-content: space-between !important;
}

.claim_amount {
  margin-top: -1rem;
}
